<li class="list-group-item"
[ngClass]="{'list-group-item-success':post.loveIts > 0,
            'list-group-item-danger':post.loveIts < 0}">

        <p style="float: right;">{{post.created_at | date :'dd/MM/yyyy, hh:mm aaa' }}</p>
        <h3>{{post.title}}</h3>

        <p>{{post.content}}</p>

        <button type="button" class="btn btn-success" style="margin-right: 10px" (click)="onLike()">Like</button>
        <button type="button" class="btn btn-danger" (click)="onDislike()">Dislike</button>
        <button type="button" class="btn btn-danger float-right" (click)="onSupprimer()" >Supprimer</button>

</li>
